b* {
  box-sizing: border-box;
}

.Header {
  height: 70px;
  width: 69vw;
  margin: 0 auto;
  display: flex;
}

.Header-logo {
  width: 60%;
  &__image {
    line-height: 70px;
    &--pic {
      width: 150px;
    }
  }
}

.Header-right{
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &__img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    &--file {
    display: block;
    height: 45px;
    border-radius: 100%;
    object-fit: cover;
    width: 100%;
    }
  }

  &__devise {
    padding: 0 5px;
    font-size: 13px;
    cursor: pointer;
    line-height: 50px;
    border-radius: 10px;
    display: flex;
    &--icon,&--text {
      color: black;
      text-decoration: none;
      padding: 0 5px;
    }
  }
}