.Header {
  height: 80px;
  background-color: aqua;
  display: flex;
  margin: 0 15px;
  .Header-logo {
    line-height: 80px;
    width: 50%;
  }
  .Header-right{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__img {
      font-size: 4em;
      object-fit: cover;
    }
    &__text {
      
    }
    &__signup {

    }
  }
}