* {
  box-sizing: border-box;
}

.Max-width {
  width: 69vw;
  margin:0 auto;
  // background-color: gold;
}

.Wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

.Job-infomation {
 border-radius: 5px;
 padding: 10px;
 border: 1px solid black;
}

.Title-wrapper {
  display: flex;
  justify-content: space-between;
  &__newinfo {
    font-size: 13px;
    padding: 2px;
    border: 1px solid red;
    border-radius: 2px;
    &--color {
      color: red;
    }
  }
  &__jobno {
    font-size: 13px;
  }
}

.Jobwrapper-info{
  margin-top: 5px;
  .Upper-contents {
    // background-color: lavender;
    line-height: 60px;
    border-bottom: 1px solid burlywood;
  }
}
  .Pr-contents {
    background-color: lemonchiffon;
    border-radius: 5px;
    margin-top: 10px;
    .Pr-title {
      padding: 5px 5px;
      color: red;
    }
    .Pr-box {
      padding: 5px 20px;
      &__text {

      }
    }
  }
  .Image-contents {
    margin-top: 10px;
    .Job-images {
      display:grid;
      grid-gap: 1rem;
      // height: 300px;
      grid-template-columns: 2fr 1fr 1fr;
      &__list1 {
        background-color: gray;
        grid-row: 1 / span 2;
        grid-column: 1.5 / span 2;
        height: 300px;
        &--img {
          border-radius: 10px;
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }
      &__list {
        border-radius: 10px;
        background-color: gray;
        height: 142px;
        // width: ;
      }
    }
  }
  .Vacancy-contents {
    margin-top: 10px;
    .Vacancy-infos {
      width:100%;
      .Vacancy-item {
        height: 50px;
        border: 1px solid lightslategrey;
        &__left {
          width: 25%;
          padding-left: 10px;
          background-color: lightsteelblue;
        }
        &__right {
          width: 75%;
          padding-left: 10px;
        }
      }
    }
    .Question-contents {
      margin-top: 10px;
      &__box {
        margin: 0 auto;
        width: 200px;
        height: 50px;
        text-align: center;
        &--btn {
          line-height: 50px;
         }
      }
    }
  }

.Review-wrapper {
  margin-top: 30px;
  &__title {
    background-color: lightgoldenrodyellow;
    height: 300px;
    overflow: scroll;
  }
  &__list {
    padding: 15px;
    background-color: linen;
  }
  &__up {
    text-align: center;
    &--image {
      width: 200px;
      height: 50px;        
    }
  }
  &__form {
    height: 300px;
    padding: 15px;
    background-color: linen;
  }
}

.Review-post {
  padding: 10px;
  background-color:linen;
}
.Review-box {
  // background-color: oldlace;
  &__good {
  }
  &__text {
    width: 100%;
    height: 100px;
    border: 1px solid lightslategrey;
    border-radius: 5px;
  }
}


.Review-button {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  &__submit {
    padding: 3px;
  }
}

.Review-wrapper__list {
  overflow: slide;
  .Review-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px dashed lightslategrey;
    .Review-icons {
      display: flex;
      line-height: 40px;
      &__face {
        border-radius: 100%;
        // background-color: rosybrown;
        height: 40px;
        width: 40px;
        &--image {
          display: block;
          height: 40px;
          width: 40px;
          border-radius: 100%;
          object-fit: cover;
        }
      }
      &__nickname{
        padding-left: 5px;
      }
    }
    .Review-time{
      line-height: 40px;
    }
  }
}
  
.Review-infomation {
  // border: 1px solid lightsteelblue;
  border-radius: 10px;
  display: flex;
  margin-top: 10px;
  &__left {
    padding: 10px;
    // background-color: mediumaquamarine;
    width: 90%;
    &--text {
      height: 60px;
      background-color: white;
      margin: 5px 10px;
      border-radius: 5px;
      border: 1px solid lightsteelblue;
      // border: 1px solid lightslategrey;
    } 
  }
  &__right {
    // background-color: mediumturquoise;
    width: 10%;
    text-align: center;
    line-height: 208px;
    &--destroy {
      font-size: 20px;
    }
    &--trash {
      color: lightslategrey;
    }
  }
}