* {
  box-sizing: border-box;
}

.Wrapper-match {
  width: 69vw;
  margin: 0 auto;
  border-radius: 0px;
}

.Top-wrapper {
  background-color: rebeccapurple;
  position: relative;
  padding: 5px;
  .Top-images {
      display:grid;
      grid-gap: 1rem;
      grid-template-columns: 1.5fr 1fr 1fr;
      &__image1 {
        background-color: gray;
        grid-row: 1 / span 2;
        height: 400px;
        &--img {            //実際の画像をいれる//
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }
      &__image2 {
        grid-column:2 /span 2 ;
        background-color: gray;
      }
      &__image {
        background-color: gray;
      }
    }
  .Top-login{
    position: absolute;
    top:50%;
    right:50%;
    &__text {
      color: seashell;
    }
  }
}


.Info-wrapper {
  // height: 200px;
  margin-top: 20px;
  background-color: burlywood;
  display: flex;
  .Title {
    background-color: gainsboro;
    // height: 200px;
    width: 20%;
  }
  .Message-lists{
    &__box {
      display: flex;
      &--date {
        margin-left: 20px;
      }
      &--message {
        margin-left: 30px;
      }
    }
  }
}

.Under-info {
  margin-top: 20px;
  display: flex;
  font-size: 20px;
  &__icon {
    &--folder {
      color: darkturquoise;
      margin-right: 10px;
    }
  }
}


.Under-wrapper {
  margin-top: 30px;
  justify-content: space-between;
  display: flex;
  .Bar-left {
    width: 710px;
    &__upper {
      &--text {
        text-align: right;
      }
    }
    &__middle {
      overflow-y: scroll;
      height: 1000px;
      padding: 15px;
      background-color: lightblue;
    }
  }
  .Bar-right{
  width: 240px;
  height: 300px;
  margin-left: 20px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 10px;
  }
}

.Job-box {
  height: 290px;
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
}

.Upper-job {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  &__new {
    font-size: 12px;
    color: red;
    border: 1px solid red;
    border-radius: 3px;
    padding: 2px;

  }
  &__no {
    font-size: 10px;
  }
}

.Job-catch {
  height: 70px;
  background-color: linen;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  padding: 5px;
  &__textarea {
    width: 80%;
    height: 60px;
    display: table;
    &--text {
      display: table-cell;
      vertical-align: middle;
    }
  }
  &__box {
    width: 20%;
    font-size: 15px;
    line-height: 60px;
    display: flex;
    &--star {
      font-size: 18px;
      &--color {
        color: gold;
      }
    }
    &--text {
      margin-left: 10px;
    }
  }
}

.Contents {
  display: flex;
  position: relative;
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .Content-left {
    background-color: gray;
    width: 250px;
    height: 150px;
    &__img {
      border-radius: 10px;
      height: 150px;
      object-fit: cover;
      width: 100%;
    }
  }
  .Content-right {
    width: calc(100% - 250px);
  }
  
  .Text-content {
    display: flex;
    height: 38px;
    &__left {
      margin: 0 15px 0 20px;
      font-size: 16px;
      line-height: 40px;
      color: lightskyblue;
    }
    &__right {
      // line-height: 30px;
      font-size: 14px;
      overflow-wrap: break-word;
      line-height: 40px;
    }
    &__rightlong {
     font-size: 14px; 
      // overflow-wrap: break-word;

    }
  }
}

.Search-wrapper {
  height: 100px;
  .Search-title {
    border-bottom: 1px solid burlywood;
  }
  .Search-box {
    margin-top: 20px;
    &__input {
      width: 170px;
    }
    &__button {
    }
  }
}