* {
  box-sizing: border-box;
}

.Wrapper-match {
  width: 55vw;
  margin: 0 auto;
}

.Top-wrapper {
  background-color: rebeccapurple;
  position: relative;
  padding: 5px;
  .Top-images {
      display:grid;
      grid-gap: 1rem;
      grid-template-columns: 1.5fr 1fr 1fr;
      &__image1 {
        background-color: gray;
        grid-row: 1 / span 2;
        height: 700px;
        &--img {            //実際の画像をいれる//
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }
      &__image2 {
        grid-column:2 /span 2 ;
        background-color: gray;
      }
      &__image {
        background-color: gray;
      }
    }
  .Top-login{
    position: absolute;
    top:400px;
    right:50%;
    &__text {
      color: seashell;
    }
  }
}


.Info-wrapper {
  // height: 200px;
  background-color: burlywood;
  display: flex;
  .Title {
    background-color: gainsboro;
    // height: 200px;
    width: 20%;
  }
  .Message-lists{
    &__box {
      display: flex;
      &--date {
        margin-left: 20px;
      }
      &--message {
        margin-left: 30px;
      }
    }
  }
}

.Message-wrapper {
  // height: 200px;
  background-color: saddlebrown;
  .Message-title {
   text-align: center;
  }
  .Search-box {
    text-align: center;
    &__input {

    }
    &__button {

    }
  }
}


.Bottom-wrapper {
  height: 470px;
  background-color: lightblue;
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: scroll;
  .Contents {
    height: 450px;
    width: 330px;
    background-color: gold;
    padding: 15px;
    .Top-content {
      background-color: gray;
      width: 300px;
      height: 250px;
      &__img {
      height: 250px;
      object-fit: cover;
      width: 100%;
      }
    }
    .Middle-content {
      &__left {
      }
      &__right {
      }
    }
    .Bottom-content {
      background-color: honeydew;
      width: auto;
      height: 90px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      &__button {
        
      }
      &__like {
        width: 60px;
        height: 60px;
      }
    }
  }
}