* {
  box-sizing: border-box;
}

.Vacancies-width {
  width: 69vw;
  background-color: gainsboro;
  margin: 0 auto; 
}

.Wrapper {
  max-width: 800px;
  
}

.Open-wrapper {
  padding-top: 30px;
  font-size: 30px;
  height: 100px;
  padding-left: 98px;
  background-color: white;
}

.Job-admin {
  padding: 20px 0px;
  &__title{
    margin-bottom: 5px;
    font-size: 25px;
  }
  &__text {
    &--title {
    }
  }
  input[type="text"] {
    width: 500px;
    height: 50px;
  }
}


.Company-images {
  margin-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
  &__text{
    font-size: 25px;
    margin-top: 5px;
  }
}

.Vacancy {
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
  .Write-title {
    font-size: 25px;
  }
  .Write-infos {
    margin-top: 20px;
  }
  .Pr-contents {
  }
}

.Vacancy-writes {
  &__left {
    margin: 5px 0;
  }
  &__right {
    &--text {
    }
  }
}


.Pr-writes {
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
  &__title {
    font-size: 25px;
  }
  &__text {
    margin: 10px 0;
  }
  &__box {
    &--text {
      margin-bottom: 10px;
    }
  }
}

.Button-wrapper {
  margin: 40px 0 40px;
  &__button {
    text-align: center;
    background-color: gray;
    width: 200px;
    line-height: 50px;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
  }
}


.Title-view {
  &__text {
    text-align: center;
    font-size: 25px;
    margin: 20px;
    overflow-x: scroll;
  }
}

.View-wrapper {
  height: 460px;
  background-color: lightblue;
  margin: 0 auto;
  width: 800px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: scroll;
  padding: 10px;
  .View-contents {
    border-radius: 10px;
    width: 300px;
    background-color: white;
    border: 1px solid lightgray;
    padding: 15px;
  }
}

.View-title {
  background-color: linen;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 3px;
}

.View-top {
  background-color: gray;
  width: 270px;
  height: 150px;
  &__image {
  border-radius: 10px;
  display: block;
  height: 150px;
  object-fit: cover;
  width: 100%;
  }
}

.View-middle {
  margin: 10px 0;
  width: 100%;
}

.View-text {
  border: 1px solid lightgray;
  height: 40px;
  font-size: 13px;
  &__left {
    width: 30%;
    padding-left:5px;
    background-color: linen;
  }
  &__right {
    padding-left: 5px;
    width: 70%;
    overflow: visible;
  }
}

.View-bottom {
  // background-color: honeydew;
  font-size: 13px;
  text-align: center;
  position: relative;
  &__box {
    justify-content: space-evenly;
    display: flex;
    width: 100px;
    position: absolute;
    top: 0px;
    right: 0px;
    &--btn {
      margin: 0 10px;
      text-decoration: none;
      color: grey;
    } 
  }
}