* {
  box-sizing: border-box;
}

.Vacancies-width {
  width: 69vw;
  background-color: gainsboro;
  margin: 0 auto; 
}

.Wrapper {
  max-width: 800px;

}

.Open-wrapper {
  padding-top: 10px;
  font-size: 30px;
  height: 100px;
  padding-left: 98px;
  background-color: white;
}

.Job-admin {
  &__title{
    margin-bottom: 5px;
    font-size: 25px;
  }
  &__text {
    &--title {
    }
  }
  input[type="text"] {
    width: 500px;
    height: 50px;
  }
}


.Company-images {
  margin-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
  &__text{
    font-size: 25px;
    margin-top: 5px;
  }
}

.Vacancy {
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
  .Write-title {
    font-size: 25px;
  }
  .Write-infos {
    margin-top: 20px;
  }
  .Pr-contents {
  }
}

.Vacancy-writes {
  &__left {
    margin: 5px 0;
  }
  &__right {
    &--text {
    }
  }
}


.Pr-writes {
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
  &__title {
    font-size: 25px;
  }
  &__text {
    margin: 10px 0;
  }
  &__box {
    &--text {
      margin-bottom: 10px;
    }
  }
}

.Button-wrapper {
  margin: 40px 0 40px;
  &__button {
    text-align: center;
    background-color: gray;
    width: 200px;
    line-height: 50px;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
  }
}


.Title-view {
  &__text {
    text-align: center;
    font-size: 25px;
  }
}

.Bottom-wrapper {
  height: 470px;
  background-color: lightblue;
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: scroll;
  .Contents {
    height: 450px;
    width: 330px;
    background-color: gold;
    padding: 15px;
    .Top-content {
      background-color: gray;
      width: 300px;
      height: 250px;
      &__img {
      height: 250px;
      object-fit: cover;
      width: 100%;
      }
    }
    .Middle-content {
      &__left {
      }
      &__right {
      }
    }
    .Bottom-content {
      background-color: honeydew;
      width: auto;
      height: 90px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      &__button {
        
      }
      &__like {
        width: 60px;
        height: 60px;
      }
    }
  }
}