-if user_signed_in?
  -if match.already_favorited?(current_user) 
    = link_to job_favorites_path(match.id), method: :delete, remote: true do
      = icon('fas', 'star', class: "Job-catch__box--star--color")
  - else
    = link_to job_favorites_path(match.id), method: :post, remote: true do
      = icon('far', 'star')