-if user_signed_in?
  -if current_user.already_favorited?(match) 
    = link_to job_favorites_path(match.id), method: :delete, remote: true do
      = icon('fas', 'star', class: "Job-catch__box--star--color")
    -# = match.favorites.count
  - else
    = link_to job_favorites_path(match.id), method: :post, remote: true do
      = icon('far', 'star')
    -# = match.favorites.count